{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <!--Portfolio-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Transacted</th>
            </tr>
      </thead>
      <tbody>
      <!--Display portfolio via render arguments-->
      {% for item in rows %}
          <tr>
              <td>{{ item["symbol"] }}</td>
              <td>{{ item["shares"] }}</td>
              <td>{{ item["price"] | usd }}</td>
              <td>{{ item["time"] }}</td>
          </tr>
     {% endfor %}
      </tbody>
    </table>
{% endblock %}
